<style>
      * {
        box-sizing: border-box;
      }

      div {
        width: 80px;
        height: 80px;
        border: 2px soild red;
        padding: 15px;
      }

      .bb {
        box-sizing: border-box;
      }

      .cb {
        box-sixing: content-box;
      }
    </style>