* {
  margin: 0px;
  padding: 0px;
}

.day {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.date {
  display: flex;
  justify-content: left;
}
.weather {
  display: flex;
  justify-content: right;
}

.time {
  display: flex;
  justify-content: space-between;
  color: rgb(93, 96, 185);
  margin: 40px;
}

.nav {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  padding: 50px;
}
