* {
  margin: 0px;
  padding: 0px;
}

.box {
  color: white;
  font-weight: bold;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.d1,
.d2 {
  float: left;
}

.d3,
.d4 {
  float: right;
}

.d1,
.d3 {
  background: red;
}

.d2,
.d4 {
  background: orange;
}

div {
  width: 580px;
  margin: 0 auto;
}
