* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0fdfs5X_g3ja1EIKi-yZXlNMEfhsYWxyNfw&usqp=CAU");
  background-size: cover;
}

.title {
  text-align: center;
  padding: 40px;
}

.navs {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  justify-content: right;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 30px;
}

#today-select {
  width: 200px;
  height: 30px;
  font-size: 16px;
}
/*
span {
  width: 100px;
  height: 300px;
  background-color: white;
  display: block;
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 10px;
}
*/
